* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins" sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
